body {
    background-image: url(https://images.unsplash.com/photo-1560977501-7cb367eccebe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80);
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    color: #fff;
}